.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* custom styles */
body {
  color: #fff;
  background: #19aa8d;
  font-family: "Roboto", sans-serif;
}
.form-control {
  font-size: 15px;
}
.form-control,
.form-control:focus,
.input-group-text {
  border-color: #e1e1e1;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}
.signup-form hr {
  margin: 0 -30px 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 15px;
}
.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}
.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}
.signup-form .btn,
.signup-form .btn:active {
  font-size: 16px;
  font-weight: bold;
  background: #19aa8d !important;
  border: none;
  min-width: 140px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #179b81 !important;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #19aa8d;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.signup-form .fa {
  font-size: 21px;
}
.signup-form .fa-paper-plane {
  font-size: 18px;
}
.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

/* for menu  */
*,
:before,
:after {
  box-sizing: border-box;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}

.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 17.5em;
  background: #35302d;
}

.logo {
  font: 300 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.logo a {
  display: block;
  padding: 1em 0;
  color: #dfdbd9;
  text-decoration: none;
  transition: 0.15s linear color;
}
.logo a:hover {
  color: #fff;
}
.logo a:hover span {
  color: #df4500;
}
.logo span {
  font-weight: 700;
  transition: 0.15s linear color;
}

/* .main-nav a {
  padding: 1.1em 0;
  color: #dfdbd9;
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
} */
/* .main-nav a:hover {
  color: #fff;
} */

.social-links {
  border-bottom: solid 1px #3c3735;
}
.social-links li {
  width: 25%;
  border-left: solid 1px #3c3735;
}
.social-links li:first-child {
  border: none;
}
.social-links a {
  display: block;
  height: 5.5em;
  text-align: center;
  color: #3c3735;
  font: 0.75em/5.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.social-links a:hover {
  color: #dfdbd9;
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}
.list-hover-slide a:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #df4500;
  background: #3c3735;
  transition: 0.35s ease left;
}
.list-hover-slide a.is-current:before,
.list-hover-slide a:hover:before {
  left: 0;
}

.activeMenu span {
  color: pink !important;
}
.signup-container {
  width: 100%;
  height: 100vh;
  background-color: #34568b;
}

.signin-container {
  width: 100%;
  height: 100vh;
  background-color: #5b5ea6;
}

/* modal stying */
.aiportModal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;

  justify-content: center;
}
.modalForm {
  background-color: #fff;
  width: 25%;
  position: absolute;
  top: 20px;
  min-height: 100px;
  left: calc(50%-15%);
  border-radius: 7%;
  margin-top: 15px;
  border: 4px solid #0d6efd;
}
.closeBtn {
  background-color: red;
  color: white;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  position: absolute;
  font-size: 30px;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
.formCon {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.modalForm h4 {
  margin-top: 20px;
}
.formGroup {
  width: 50%;
}
form select {
  padding: 10px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #fff;
  width: 80%;
  border-width: 2px;
}
form input {
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  width: 80%;
}
form button {
  margin-top: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.navbar-nav a {
  color: white !important;
  font-weight: bold;
  font-size: 20px;
}

.input-group-text {
  margin: 13px;
}
/* .transactionModal {
  -height: 55% !important;
} */
.transactionModal form .formCon input {
  width: 80 !important;
}

.card {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #dee2e6 !important;
}

.card:hover {
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
}
@media screen and (max-width: 1325px) {
  .modalForm select {
    width: 90%;
  }
  .modalForm input {
    width: 90%;
  }
}
@media screen and (max-width: 1025px) {
  .modalForm {
    width: 35%;
    /* height: 65%; */
  }
  .modalForm select {
    width: 80%;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  nav {
    width: 120.3%;
  }
}
@media screen and (max-width: 769px) {
  .modalForm {
    width: 45%;
  }
  .modalForm select {
    width: 80%;
  }
  div.sortBy {
    margin-top: 20px;
  }
}

@media screen and (max-width: 426px) {
  .modalForm {
    width: 60%;
    /* height: 60%; */
  }
  .modalForm select {
    width: 80%;
  }
  form .formCon input.qty {
    width: 90% !important;
  }
  /* div.sortBy {
    margin-top: 20px;
  } */
}

@media screen and (max-width: 376px) {
  .modalForm {
    width: 60%;
    /* height: 63%; */
  }
  .modalForm select {
    width: 80%;
  }
  form .formCon input.qty {
    width: 80% !important;
  }
  /* div.sortBy {
    margin-top: 20px;
  } */
}
div.sidebarNav {
  width: 260px;
  background-color: #2a6592;
}
li a span {
  color: whitesmoke !important;
}

@media (min-width: 992px) {
  div.sidebarNav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    /* Set the width of the sidebar */
    position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1 !important; /* Stay on top */
    background-color: #2a6592;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    transform: none;
    visibility: visible;
    /* top: 56px; */
    height: calc(100%-56px);
  }
  main {
    margin-left: 260px;
  }
  .btn-close {
    display: none;
  }
  .sidebarMenu ul {
    margin-top: 20px;
  }
  .userDropdown {
    display: inline !important;
  }
  .desktopViewLogout {
    display: none !important;
  }
  .secondPart {
    /* margin-left: 30px; */
  }
}

form .formCon input.qty {
  width: 80% !important;
}
.customCardParent {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-transform: capitalize;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.customCardParent:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.customCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-transform: capitalize;
  background-color: whitesmoke;
}

/* On mouse-over, add a deeper shadow */
.customCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.headerNav {
  /* Set the width of the sidebar */
  position: sticky !important; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2 !important; /* Stay on top */
  background-color: #2a6592;
}
.dropdown-menu {
  position: absolute;
  left: -75px !important;
}
li {
  list-style: none;
}
